@{
ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>Hello from our View Template!</p>
<p>
<br>Te dei o sol, te dei o mar
<br>Pra ganhar seu coração
<br>Você é raio de saudade
<br>Meteoro da paixão
<br>Explosão de sentimentos
<br>Que eu não pude acreditar
<br>Ah! Como é bom poder te amar!
<br>
<br>Depois que eu te conheci fui mais feliz
<br>Você é exatamente o que eu sempre quis
<br>Ela se encaixa perfeitamente em mim
<br>O nosso quebra-cabeça teve fim
<br>
<br>Se for sonho, não me acorde
<br>Eu preciso flutuar
<br>Pois só quem sonha
<br>Consegue alcançar
<br>
<br>Te dei o sol, te dei o mar
<br>Pra ganhar seu coração
<br>Você é raio de saudade
<br>Meteoro da paixão
<br>Explosão de sentimentos
<br>Que eu não pude acreditar
<br>Ah! Como é bom poder te amar!
<br>
<br>Depois que eu te conheci fui mais feliz
<br>Você é exatamente o que eu sempre quis
<br>Ela se encaixa perfeitamente em mim
<br>O nosso quebra-cabeça teve fim
<br>
<br>Se for sonho, não me acorde
<br>Eu preciso flutuar
<br>Pois só quem sonha
<br>Consegue alcançar
<br>
<br>Te dei o sol, te dei o mar
<br>Pra ganhar seu coração
<br>Você é raio de saudade
<br>Meteoro da paixão
<br>Explosão de sentimentos
<br>Que eu não pude acreditar
<br>Ah! Como é bom poder te amar!
<br>
<br>Tão veloz quanto a luz
<br>Pelo universo eu viajei
<br>Vem! Me guia, me conduz
<br>E pra sempre te amarei
<br>
<br>Te dei o sol, te dei o mar
<br>Pra ganhar seu coração
<br>Você é raio de saudade
<br>Meteoro da paixão
<br>Explosão de sentimentos
<br>Que eu não pude acreditar
<br>Ah! Como é bom poder te amar!
<br>
<br>Te dei o sol, te dei o mar
<br>Pra ganhar seu coração
<br>Você é raio de saudade
<br>Meteoro da paixão
<br>Explosão de sentimentos
<br>Que eu não pude acreditar
<br>Ah! Como é bom poder te amar!
<br>Ah! Como é bom poder te amar!</p>